/* add custom colors at the very end */


/* #current-icon {
    height: 258px;
    width: 218px;
} */

/* .current-weather-icon {
    height: 258px;
    width: 218px;
} */


/* realized i never linked the css file */